@charset "utf-8";

body {
  background-color: rgb(191, 194, 193);
}

main {
  width: 80%;
  max-width: 1000px;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-areas: "h", "n", "a", "f";
  grid-gap: 10px;
  background-color: rgb(245, 245, 238);
}

header {
  grid-area: "h";
  text-align: center;
}

nav {
  grid-area: "n";
}

nav ul {
  display: grid;
  grid-template-columns: 100px 100px;
}

nav ul .navfeladat {
  padding: 3px;
  background-color: cadetblue;
  list-style-type: none;
}

nav ul .navfelhasznalo {
  padding: 3px;
  background-color: black;
  list-style-type: none;
}

nav ul .navfeladat a {
  text-decoration: none;
  color: white;
}

nav ul .navfehasznalo a {
  text-decoration: none;
  color: white;
}

article {
  grid-area: "a";
}

footer {
  grid-area: "h";
  text-align: center;
}
