@charset "utf-8";

* {
  box-sizing: border-box;
}

main {
  margin: auto;
  max-width: 800px;
  padding: 5px;
}

table {
  width: 500pt;
  margin-left: auto;
  margin-right: auto;
}
table,
tr,
td,
th {
  border: 1px solid skyblue;
  border-collapse: collapse;
}
footer {
  text-align: center;
  margin-top: 20pt;
}
